/*p {*/
/*    color: red;*/
/*}*/

/*p {*/
/*    color: cyan;*/
/*}*/

/*h1 {*/
/*    color: darkgreen*/
/*}*/

/*p {*/
/*    color: #FFB000;*/
/*}*/

/*td {*/
/*    width: 300px;*/
/*    height: 400px;*/
/*}*/

/*th {*/
/*    text-align: left;*/
/*}*/


/*tr {*/
/*    color: #FFB000;*/
/*}*/

/*p {*/
/*    text-align: right;*/
/*}*/

/*h1 {*/
/*    text-align: center*/
/*}*/

/*h1 {*/
/*    text-align: right;*/
/*}*/

/*h2 {*/
/*    text-align: center;*/
/*}*/

/*table {*/
/*    width: 500px;*/
/*}*/

/*th {*/
/*    text-align: left;*/
/*}*/

/*td {*/
/*    text-align: center;*/
/*}*/

/*p {*/
/*    width: 300px;*/
/*}*/

/*p {*/
/*    text-align: justify*/
/*}*/

/*h2 {*/
/*    font-weight: normal;*/
/*}*/

/*p {*/
/*    font-weight: bold;*/
/*}*/

/*tr {*/
/*    width: 500px;*/
/*    height: 300px;*/
/*}*/

/*td {*/
/*    font-weight: bold;*/
/*}*/

/*th {*/
/*    font-weight: normal;*/
/*}*/


/*i {*/
/*    font-style: italic;*/
/*}*/

/*h2 {*/
/*    font-style: italic;*/
/*}*/

/*h1 {*/
/*    font-size: 50px;*/
/*}*/

/*h1 {*/
/*    text-align: center;*/
/*}*/

/*h2 {*/
/*    font-size: 40px;*/
/*}*/

/*h2 {*/
/*    font-weight: normal;*/
/*}*/

/*p {*/
/*    font-size: 30px;*/
/*    line-height: 30px;*/
/*}*/

/*p {*/
/*    font-size: 30px;*/
/*    line-height: 45px;*/
/*}*/

/*p {*/
/*    font: 20px/13px "Times New Roman"*/
/*}*/

/*p {*/
/*    font: 40px/300px red bolt Arial*/
/*}*/

/*P {*/
/*}*/

/*P {*/
/*    font: bold italic 40px/60px Arial;*/
/*    text-indent: 50px;*/
/*}*/

/*p {*/
/*    text-indent: 50px;*/
/*    text-align: justify;*/
/*    width: 400px;*/
/*}*/

/*p {*/
/*    text-decoration: underline*/
/*}*/

/*h1 {*/
/*    color: blue*/
/*}*/

/*h2 {*/
/*    color: chartreuse*/
/*}*/

/*p {*/
/*    color: black*/
/*}*/

/*p {*/
/*    font-weight: normal*/
/*}*/

/*p {*/
/*    text-decoration: none*/
/*}*/

/*p {*/
/*    line-height: normal*/
/*}*/

/*p {*/
/*    text-align: center*/
/*}*/

/*ul {*/
/*    color: red*/
/*}*/

/*li {*/
/*    color: chartreuse*/
/*}*/

/*h1, h2, h3 {*/
/*    text-align: center;*/
/*}*/

/*p{width: 100%}*/

/*p{font-size:70% }*/

/*!*line height - font size = расстояние между строками*/
/*line height - 30 = 15*/

/*ul{color: red}*/
/*p{color: darkgreen}*/
/*ul li i {color: chartreuse}*/
/*i {color: red}*/
/*p i{color: cyan}*/
/*ul{color: red}*/
/*.odd{color: red}
.eve{color: green}
.eee{color: red}
.xxx{font-size: 30px}
.xxx{color: blueviolet}
.block1{color: red}
.block2{color: green}
.block3{color: cornflowerblue}
.eve{color: red}
.xxx{color: green}
.block1{color: red}
.block2{color: blue}
.block3{color: blueviolet}

.eee h2 {
    color: red;
}

.eee h3.bbb {
    color: blueviolet;
}

p.bbb {
    color: green;
}

p .bbb {
    color: red;
}

.eee p.bbb {
    color: red;
}

.eee p .bbb {
    color: blue;
}

.success {
    color: green;
}

.error {
    color: red;
}

.large {
    color: red;
    font-size: 30px
}

.small {
    font-size: 20px;
    color: green;
}

#elem1 {
    color: red
}

#elem2 {
    color: green
}

#elem3 {
    color: cornflowerblue
}

#elem h2 {
    color: blue
}

#elem p {
    color: red
}

li {
    font-size: x-large
}

.eee.zzz.ccc {
    font-style: italic
}

.zzz {
    color: red
}

h2.zzz {
    color: red;
}

h2 .zzz {
    color: darkblue;
}

.bbb.xxx {
    color: brown;
}

p {
    color: red;
}

* {
    color: blue;
}

div * {
    color: chartreuse;
}
div > * {
    color: red;
}

a:link {
    color: cornflowerblue;
}

a:visited {
    color:cornflowerblue;
}

a:hover {
    color: cornflowerblue;
    text-decoration: none;
}


a:active {
    color: cornflowerblue;
}
a {
    color: red;
}
a:hover {
    text-decoration: none;
}

#block a.zzz {
    color: red;
}
#block a.zzz:hover {
    text-decoration: none;
}

.block a.zzz {
    color: red;
}
.block a.zzz:hover {
    text-decoration: none;
}

p::first-letter
{color: blue;
 font-size: 27px;
}
h2::first-letter
{color: chartreuse;
font-size: 40px;
}
p::first-line {
    color: red;
}

p {
    width: 300px;
    text-align: justify;
}

 p::first-line{color:chartreuse;
 }
p{
    width: 50%;
margin: 0auto;
text-align: justify;
}
#elem {
    transition-duration: 2s;
    transition-property: width;
    border: 1px solid black;
    height: 50px;
    width: 100px;
}
#elem:hover {
    width: 400px;
}


p:first-of-type{color: red;
}


h2:last-of-type{color: red;
}


h2:nth-of-type(2){color: red;
}


h2:nth-last-of-type(2){color: red;
}


h2:nth-last-of-type(even){color: red;
}


li:not(:first-child){color: red;
}


li:not(:last-child){color: red;
}

#elem{
    width: 500px;
    height: 600px;
    color: white;
    background-color: red;
}



#elem {
    border-width: 1px;
    border-style: dotted;
    border-color: red;
    width: 300px;
    height: 100px;
}

#elem {
    border-width: 1px;
    border-style: dashed;
    border-color: orange;
    width: 300px;
    height: 100px;
}

#elem {
    border-width: 5px;
    border-style: double;
    border-color: blue;
    width: 300px;
    height: 100px;
}


#elem{border: 1px dotted blue;
      width: 300px;
       height: 300px;
}


#elem {
    width: 300px;
    height: 300px;
    border-left: 2px ridge #008500;
    border-right: 2px ridge orange;
    border-top: 2px ridge blue;
border-bottom: red 2px ridge;
}


#elem {
    width: 200px;
    height: 200px;
    border: green;
    border-radius: 10px;
}
#elem{
    width: 300px;
    height: 300px;
    color: white;
    background-color: orange;
} #elem{
      width: 300px;
      height: 300px;
      color: white;
      background-color: orange;
  }

#elem {
    width: 200px;
    height: 200px;
    border-radius: 300px;
    border: 1px solid green;
}


#elem {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 10px 20px 30px 40px;
}


#elem {
    width: 70px;
    height: 70px;
    border: 1px solid green;
    border-radius: 50%;
}

#elem {
    background-image: url("bg (1).png");
    width: 1000px;
    height: 1000px;

}


#elem{
    background-repeat: repeat-y;
    background-image: url("bg (1).png");
    width: 400px;
    height: 600px;
    border: 5px ;
}

 */
body {
    background-attachment: scroll;
    background-image: url("bg (1).png")
}

#elem {
    width: 400px;
    margin: 0 auto;
    text-align: justify;
    font-weight: bold;
    font-size: 20px;
}
/*
ul{
    list-style-type:circle ;

}


ul {
    list-style-type:lower-greek ;
}
ul{
    list-style-type:upper-alpha;
}


#parent {
    width: 500px;
    border: 1px dashed red;
}

#child {
    height: 300px;
    border: 1px solid green;
    margin: 30px;

}
#elem{
    border:1px solid blue;
    margin:15px;
    height: 250px;

}


#parent{
    width: 300px;
    border:1px solid red;
    height: 400px;
}

#child{
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 200px;
    margin-left: 20px;


    height: 150px;
    border: 1px solid black;
    width:150px;
}


#parent{width: 300px;
border: 1px solid orange;
}
#child{height: 200px;
border: 1px dashed blue;
margin:70px 90px;
}


#elem{padding: 100px;
width: 600px;
border: 1px dashed blue;
text-align: justify;
    color: green;
}
#elem2{padding: 100px;
width: 400px;
border: 1px solid fuchsia;
text-align: center;
color: darkred;
margin-top: 2em;
margin-bottom: 2em;
}


#elem1 {
    width: 100px;
    height: 100px;
    background: #f1f1f1;
    margin-bottom: 20px;
}

#elem2 {
    width: 100px;
    height: 100px;
    background: #f1f1f1;
    padding: 25px;
    border: 10px solid green;
    box-sizing: border-box;
}

 */
div{
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
